<!--auth.views.login뷰에서 지정 후 넘어 옴. 따로 view를 만들 필요 없다.-->

{% extends 'base.html' %}
<!-- base.html을 상속 받음. 인용부호 필수-->
{% block title%}login.html{% endblock %}
<!--base에서 블록으로 지정했던 부분만 간단하게 파내서 바꿈-->
{% load static %}
{% block extrastyle %}{% static "css/form.css" %}{% endblock %}

{% block content %}
<div id="content">
    <h1>Please Login</h1>
    <form action="." method="post">{% csrf_token %}
<!--폼 제출시 post방식으로 현재와 같은 url('.')로 요청이 전송됨-->
    {% if form.errors %}
<!--        폼에 입력된 내용에 에러가 있다면. form클래스에 error라는 api가 있음-->
        <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}
    <p>Please enter your id an password.</p>
    <fieldset class="aligned">
<!--    필드셋테그는 폼에서 비슷한 요소들을 그룹으로 묶어주는 역할을 함. 묶은 요소 주변으로 테두리를 그려줌-->
<!--        legend태그를 이용하면 캡션을 추가할 수 있음-->
        <div class="form-row">
            {{form.username.label_tag}} {{form.username}}
<!--    로그인 처리를 위해 form을 사용함. 장고는 User라는 모델을 자동으로 제공하는데, 이 모델의 필드가 username.
        login을 위한 form을 만들때 이 user모델을 연결시켜 폼을 만들텐데, 그로 인해 폼에서 User의 필드값을
        호출할 수 있는 것으로 추정-->
<!--        username 입력요소 출력. form변수는 auth.views.login()뷰에서 넘겨주는 객체.
username은 form객체의 username필드값. <lable>태그 안에 username을 넣어라.-->
        </div>
        <div class="form-row">
            {{form.password.label_tag}} {{form.password}}
<!--        password입력요소를 출력. form.password는 password필드의 위젯을 출력한다고 함
form의 필드는 각각 특정한 위젯(html에 보여줄 특정형태)으로 매핑되있다고 함. -->
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Log In">
<!--        제출버튼 만들기. 이름은 log in-->
        <input type="hidden" name="next" value="{{ next }}"/>
<!--        이 문장에 의해 post처리후(로그인에 성공한 후) {next}변수로 지정된 url로 이동시킴
next에 해당하는 값은 url에 쿼리문자열로 들어오거나(?next=/post/3), 없을 경우 setting.LOGIN_REDIRECTION
_URL에 지정된 항목값, 이것도 없으면 디폴트로 /account/profile/을 next값으로 사용함. 예제는 '/'즉 홈페이지로
가도록 지정 됨. hidden처리해서 보이지는 않음-->
    </div>
    <script type="text/javascript">document.getElementById('id_username').focus();</script>
<!--자바스크립트로 username입력요소에 커서를 위치시킨다. 위 HTML에는 id=username이라고 지정된것은 없다.
추측하건데 form.username에서 username이 html상 id로서 처리되는 듯.-->
    </form>
</div>
{% endblock %}
