{% extends 'base.html' %}
<!-- base.html을 상속 받음. 인용부호 필수-->
{% block title%}password_change_form.html{% endblock %}
<!--base에서 블록으로 지정했던 부분만 간단하게 파내서 바꿈-->
{% load static %}
{% block extrastyle %}{% static "css/form.css" %}{% endblock %}

{% block content %}
<div id="content">
    <h1>{{ title }}</h1>
<!--    passowordchage폼에서 title을 가져오는 듯-->
    <form action="." method="post">{% csrf_token %}
<!--폼 제출시 post방식으로 현재와 같은 url('.')로 요청이 전송됨-->
    {% if form.errors %}
<!--        여기서의 form객체는 AuthenticationForm객체가 아니라 PasswordChangeForm의 객체-->
<!--        폼에 입력된 내용에 에러가 있다면. form클래스에 error라는 api가 있음-->
        <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}
    <p>Please enter your old password for security's sake and then enter your new password
    twice</p>
    <fieldset class="aligned">
        <div class="form-row">
            {{form.old_password.label_tag}} {{form.old_password}}
<!--    로그인 form에선 AuthentificationForm을 사용했지만, 여기의 form은 UserCreationForm의 객체-->
        </div>
        <div class="form-row">
            {{form.new_password1.label_tag}} {{form.new_password1}}
<!--        password입력요소를 출력. form.password는 password필드의 위젯을 출력한다고 함
form의 필드는 각각 특정한 위젯(html에 보여줄 특정형태)으로 매핑되있다고 함. -->
        </div>
        <div class="form-row">
            {{form.new_password2.label_tag}} {{form.new_password2}}
<!--        비밀번호 입력확인을 위해 두번 출력 -->
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Password change"/>
<!--        제출버튼 만들기. 이름은 log in-->
    </div>
    <script type="text/javascript">document.getElementById('id_old_password').focus();</script>
<!--자바스크립트로 old_password 항목을 선택.-->
    </form>
</div>
{% endblock %}
